<div class='cont_detalleChats' style='padding: 1rem 2rem'>
  <h1 class='center'>Vista de Chat Detallada</h1>
  <hr />
  <h6 class='center'><b>Tipificacion:</b> {{rowsSelectGes.GES_CDETALLE17}} - <b>Especialidad:</b> {{rowsSelectGes.GES_CDETALLE18}}</h6>
  <h6 class='center'><b>Fecha Inicio:</b> {{rowsSelectGes.GES_CFECHA_REGISTRO}} - <b>Fecha Fin:</b> {{fFin}} </h6>
  <div class='row'>
    <ul class='collapsible col s6'>
      <li>
        <div class='collapsible-header'><i class='bx bx-bot'></i> Chat Con Bot</div>
        <div class='collapsible-body'>
          {{#if (isOutbound rowsSelectGes.GES_FK_OUTBOUND)}}
            <p>Es Outbound</p>
          {{else}}
            <table class='striped highlight centered'>
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td><b>Nombre:</b> {{rowsSelectGes.GES_CDETALLE3}}</td>
                </tr>
                <tr>
                  <td><b>Parentesco:</b> {{rowsSelectGes.GES_CDETALLE4}}</td>
                </tr>
                <tr>
                  <td><b>Tipo de Documento:</b> {{rowsSelectGes.GES_CDETALLE5}}</td>
                </tr>
                <tr>
                  <td><b>N° Documento:</b> {{rowsSelectGes.GES_CDETALLE6}}</td>
                </tr>
                <tr>
                  <td><b>Numeros de Contacto:</b> {{rowsSelectGes.GES_CDETALLE7}}</td>
                </tr>
                <tr>
                  <td><b>Ciudad:</b> {{rowsSelectGes.GES_CDETALLE8}}</td>
                </tr>
                <tr>
                  <td><b>EPS:</b> {{rowsSelectGes.GES_CDETALLE9}}</td>
                </tr>
                <tr>
                  <td><b>Sede:</b> {{rowsSelectGes.GES_CDETALLE10}}</td>
                </tr>
                <tr>
                  <td><b>Solicitud Principal Cliente:</b> {{rowsSelectGes.GES_CDETALLE11}}</td>
                </tr>
                <tr>
                  <td><b>Solicitud Secundaria Cliente:</b> {{rowsSelectGes.GES_CDETALLE12}}</td>
                </tr>
              </tbody>
            </table>
          {{/if}}
        </div>
      </li>
    </ul>
    <ul class='collapsible col s6'>
      <li>
        <div class='collapsible-header'><i class='bx bx-user-voice'></i> Chat Con Asesor</div>
        <div class='collapsible-body'>
          <table class='striped highlight centered'>
            <thead class='styleHeadTable'>
              <tr>
                <th><i style='float: left'>Cliente</i><i style='float: right'>Agente</i></th>
              </tr>
            </thead>
            <tbody>
              {{#each rowsSelectMen}}
                {{#if (isEnviado this.MEN_ESTADO_MENSAJE)}}
                  <tr>
                    <td style='float: right; padding: 1rem; text-align: right'>{{this.MEN_TEXTO}}<b><i class='bx bx-chevrons-left'></i></b></td>
                  </tr>
                {{else}}
                  <tr>
                    <td style='float: left; padding: 1rem; text-align: left'><b><i class='bx bx-chevrons-right'></i></b>{{this.MEN_TEXTO}}</td>
                  </tr>
                {{/if}}
              {{/each}}
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </div>
</div>